// see zmk 'pin control' page - pin control is needed to set up an spi bus (and a i2c & serial bus)
//     needed for display interfaces and shift-registers
//     must be installed as a 'board' - using an '.overlay' file in a boards/shields/boards folder.


//&nice_view_spi 
 //   cs-gpios = <&pro_micro 2 GPIO_ACTIVE_HIGH>;
//    miso-gpios = <&pro_micro 1>;
//    sck-gpios = <&pro_micro 0>;
//};

//&pro_micro_i2c {
//    status = "disabled";
//};


