// see zmk 'pin control' page - pin control is needed to set up an spi bus (and a i2c & serial bus)
//     needed for display interfaces and shift-registers
//     must be installed as a 'board' - using an '.overlay' file in a boards/shields/boards folder.

//_default: spi0_default {
//        group1 {
//            psels = <NRF_PSEL(SPIM_SCK, 0, 0)>,
//                    <NRF_PSEL(SPIM_MISO, 0, 2)>;
//            //      <NRF_PSEL(SPIM_MOSI, 0, ?)>,
 //       };
 //   };
 //   spi0_sleep: spi0_sleep {
 //       group1 {
 //           psels = <NRF_PSEL(SPIM_SCK, 0, 0)>,
//                <NRF_PSEL(SPIM_MOSI, 0, 2)>,
 //           //  <NRF_PSEL(SPIM_MISO, 0, ?)>;
 //           low-powe&pinctrl {
 //   spi0r-enable;
 //       };
 //   };
//};

//nice_view_spi: &spi0 {
&nice_view_spi 
//    compatible = "nordic,nrf-spim";
 //   pinctrl-0 = <&spi0_default>;
//    pinctrl-1 = <&spi0_sleep>;
 //   pinctrl-names = "default", "sleep";
    cs-gpios = <&pro_micro 2 GPIO_ACTIVE_LOW>;
    miso-gpios = <&pro_micro 1 GPIO_ACTIVE_LOW>;
    sci-gpios = <&pro_micro 0 GPIO_ACTIVE_LOW>;
 //   nice_view: ls0xx@0 {
 //       compatible = "sharp,ls0xx";
 //       spi-max-frequency = <1000000>;
//        reg = <0>;
 //       width = <160>;
  //      height = <68>;
};

&pro_micro_i2c {
    status = "disabled";
};




/* 
/ {
    chosen {
        zephyr,display = &nice_view;
    };
};
*/
