/* SOFTWARE SPI DEFINITIONS FOR CHRUMM SHIELD */

 / {
    spi_view: spi_view_bus {
        compatible = "spi-bitbang";
        status = "okay";

        sck-gpios   = <&pro_micro 2 GPIO_ACTIVE_HIGH>;
        mosi-gpios  = <&pro_micro 3 GPIO_ACTIVE_HIGH>;
        miso-gpios  = <&pro_micro 7 GPIO_ACTIVE_HIGH>; /* unused if no MISO */
        cs-gpios    = <&pro_micro 1 GPIO_ACTIVE_LOW>;

        #address-cells = <1>;
        #size-cells = <0>;
    };

    spi_595: spi_595_bus {
        compatible = "spi-bitbang";
        status = "okay";

        sck-gpios   = <&pro_micro 4 GPIO_ACTIVE_HIGH>;  /* SRCLK */
        mosi-gpios  = <&pro_micro 0 GPIO_ACTIVE_HIGH>;  /* SER */
        miso-gpios  = <&pro_micro 6 GPIO_ACTIVE_HIGH>;  /* unused */
        cs-gpios    = <&pro_micro 5 GPIO_ACTIVE_LOW>;   /* RCLK (latch) */

        #address-cells = <1>;
        #size-cells = <0>;

        shifter: gpio_595@0 {
            compatible = "zmk,gpio-595";
            reg = <0>;
            spi-max-frequency = <200000>;

            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <16>;
        };
    };
};
