/* SOFTWARE SPI DEFINITIONS FOR CHRUMM SHIELD */

 / {
    spi_view: spi_view_bus {
        compatible = "zephyr,spi-bitbang";
        status = "okay";

        clk-gpios  = <&pro_micro 2 GPIO_ACTIVE_HIGH>;
        mosi-gpios = <&pro_micro 3 GPIO_ACTIVE_HIGH>;
        miso-gpios = <&pro_micro 7 GPIO_ACTIVE_HIGH>; /* niceview MISO (if used) */

        cs-gpios = <&pro_micro 1 GPIO_ACTIVE_LOW>;    /* niceview CS */

        #address-cells = <1>;
        #size-cells = <0>;
    };

    spi_595: spi_595_bus {
        compatible = "zephyr,spi-bitbang";
        status = "okay";

        clk-gpios  = <&pro_micro 4 GPIO_ACTIVE_HIGH>; /* shift register CLK */
        mosi-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>; /* SER / data in */
        miso-gpios = <&pro_micro 6 GPIO_ACTIVE_HIGH>; /* unused but required */

        cs-gpios = <&pro_micro 5 GPIO_ACTIVE_LOW>;    /* latch (RCLK) */

        #address-cells = <1>;
        #size-cells = <0>;
    };
};
